name: Destroy VM
on:
  workflow_dispatch:
jobs:
  version:
    runs-on: ubuntu-latest
    env:
      TF_VAR_digitalocean_token: ${{ secrets.DO_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.B2_KEY_ID }} 
      AWS_SECRET_ACCESS_KEY: ${{ secrets.B2_APPLICATION_KEY }} 
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt
        run: terraform fmt -check
        continue-on-error: true

      - name: Terraform Init
        run: terraform init 

      - name: Terraform Validate
        run: terraform validate -no-color

      - name: Terraform Plan
        run: terraform plan -no-color 

      - name: Terraform Destroy
        run: terraform destroy 
