name: Provision VM
on:
  workflow_dispatch:
jobs:
  provision-vm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt
        run: terraform fmt -check
        continue-on-error: true
        working-directory: ./terraform

      - name: Terraform Init
        run: terraform init 
        working-directory: ./terraform
        env:
          TF_VAR_digitalocean_token: ${{ secrets.DO_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.B2_KEY_ID }} 
          AWS_SECRET_ACCESS_KEY: ${{ secrets.B2_APPLICATION_KEY }} 

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./terraform

      - name: Terraform Plan
        run: terraform plan
        working-directory: ./terraform
        env:
          TF_VAR_digitalocean_token: ${{ secrets.DO_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.B2_KEY_ID }} 
          AWS_SECRET_ACCESS_KEY: ${{ secrets.B2_APPLICATION_KEY }} 

      - name: Terraform Apply
        run: terraform apply 
        working-directory: ./terraform
        env:
          TF_VAR_digitalocean_token: ${{ secrets.DO_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.B2_KEY_ID }} 
          AWS_SECRET_ACCESS_KEY: ${{ secrets.B2_APPLICATION_KEY }} 
